In [145]:
import pandas as pd
import re

In [2]:
!pwd

/sfs/weka/scratch/nkw3mr/ICD-SDoH-Classification/LSFA

In [6]:
data_dir = '/sfs/weka/scratch/nkw3mr/ICD-SDoH-Classification/LSFA/'

In [21]:
test = pd.read_csv(''.join([data_dir, 'test', '_sdoh.csv']))
dev = pd.read_csv(''.join([data_dir, 'dev', '_sdoh.csv']))
train = pd.read_csv(''.join([data_dir, 'train', '_sdoh.csv']))

In [22]:
total_len = len(test) + len(dev) + len(train)
total_len

16822

In [23]:
train.head()

,Unnamed: 0.1,Unnamed: 0,subject_id,hadm_id,text,labels,length
0,0,0,11235666,28318128,name ___ unit no ___ admission date ___ discha...,E46;Z7289;E538,101
1,1,1,11621673,20324414,name ___ unit no ___ admission date ___ discha...,X58XXXA,158
2,2,2,10625422,20469434,name ___ unit no ___ admission date ___ discha...,X58XXXA,159
3,3,3,16754064,25663849,name ___ unit no ___ admission date ___ discha...,X58XXXA,170
4,4,4,10610574,20808583,name ___ unit no ___ admission date ___ discha...,E43,184

In [24]:
merged_df = pd.concat([train, dev, test], axis=0)

In [25]:
len(merged_df)

16822

In [120]:
from sklearn.model_selection import train_test_split

unique_subjects = merged_df['subject_id'].unique()


# 分割 subject_id 为训练集和一个暂时的测试集（这里包括了开发集和测试集）
train_subjects, test_subjects = train_test_split(unique_subjects, test_size=0.20)

# 使用 subject_id 的集合分割原始 DataFrame 为训练集、开发集和测试集
train_df = merged_df[merged_df['subject_id'].isin(train_subjects)]
test_df = merged_df[merged_df['subject_id'].isin(test_subjects)]

In [121]:
split_labels = train_df['labels'].str.split(';', expand=True)

# 将所有标签合并到一个列表中
all_labels = split_labels.values.flatten()

# 使用set()函数获取唯一标签
unique_labels = set(all_labels)

# 移除NaN值
unique_labels.discard(None)

print("Unique labels:")
# print(unique_labels)
print(f"Number of unique labels: {len(unique_labels)}")

Unique labels:
Number of unique labels: 121

In [122]:
length = 1
while (length != 129):
    unique_subjects = merged_df['subject_id'].unique()


    # 分割 subject_id 为训练集和一个暂时的测试集（这里包括了开发集和测试集）
    train_subjects, test_subjects = train_test_split(unique_subjects, test_size=0.20)

    # 使用 subject_id 的集合分割原始 DataFrame 为训练集、开发集和测试集
    train_df = merged_df[merged_df['subject_id'].isin(train_subjects)]
    test_df = merged_df[merged_df['subject_id'].isin(test_subjects)]
    
    split_labels = train_df['labels'].str.split(';', expand=True)

    # 将所有标签合并到一个列表中
    all_labels = split_labels.values.flatten()

    # 使用set()函数获取唯一标签
    unique_labels = set(all_labels)

    # 移除NaN值
    unique_labels.discard(None)

    # print("Unique labels:")
    # print(unique_labels)
    # print(f"Number of unique labels: {len(unique_labels)}")
    length = len(unique_labels)

In [130]:
split_labels = test_df['labels'].str.split(';', expand=True)

# 将所有标签合并到一个列表中
all_labels = split_labels.values.flatten()

# 使用set()函数获取唯一标签
unique_labels = set(all_labels)

# 移除NaN值
unique_labels.discard(None)

# print("Unique labels:")
# print(unique_labels)
print(f"Number of unique labels: {len(unique_labels)}")
length = len(unique_labels)

Number of unique labels: 78

In [128]:
LSFA_train_df = train_df[['text', 'labels']]
LSFA_test_df = test_df[['text', 'labels']]

In [131]:
LSFA_train_df['labels_Space_Sep'] = LSFA_train_df['labels'].str.replace(';', ' ')
LSFA_test_df['labels_Space_Sep'] = LSFA_test_df['labels'].str.replace(';', ' ')

/tmp/ipykernel_758602/2258972419.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  LSFA_train_df['labels_Space_Sep'] = LSFA_train_df['labels'].str.replace(';', ' ')
/tmp/ipykernel_758602/2258972419.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  LSFA_test_df['labels_Space_Sep'] = LSFA_test_df['labels'].str.replace(';', ' ')

In [132]:
LSFA_train_df.head(2)

,text,labels,labels_Space_Sep
0,name ___ unit no ___ admission date ___ discha...,E46;Z7289;E538,E46 Z7289 E538
1,name ___ unit no ___ admission date ___ discha...,X58XXXA,X58XXXA

In [159]:
train_label_path = ''.join([data_dir, 'data/SdohICD10/', 'train_labels.txt'])
train_label_path

'/sfs/weka/scratch/nkw3mr/ICD-SDoH-Classification/LSFA/data/SdohICD10/train_labels.txt'

In [138]:
test_label_path = ''.join([data_dir, 'data/SdohICD10/', 'test_labels.txt'])
test_label_path

'/sfs/weka/scratch/nkw3mr/ICD-SDoH-Classification/LSFA/data/SdohICD10/test_labels.txt'

In [140]:
with open(train_label_path, 'w') as file:
    for label in LSFA_train_df['labels_Space_Sep']:
        file.write(label + '\n')

In [141]:
with open(test_label_path, 'w') as file:
    for label in LSFA_test_df['labels_Space_Sep']:
        file.write(label + '\n')

In [160]:
def proc_text(text):
    pattern = r"name.*?service"
    text = re.sub(pattern, "", text)
    text = re.sub(r'\[\*\*[^\]]*\*\*\]', '', text)
    text = text.lower().replace("\n"," ").replace("\r"," ")
    text = re.sub('dr\.','doctor',text)
    text = re.sub('m\.d\.','doctor',text)
    text = re.sub('admission date:','',text)
    text = re.sub('discharge date:','',text)
    text = re.sub('--|__|==','',text)
    return re.sub(r'  +', ' ', text)

In [161]:
train_texts = train_df['text'].apply(proc_text)

In [162]:
train_texts

0       medicine allergies penicillins codeine nitrog...
1       orthopaedics allergies lamictal attending _ c...
2       orthopaedics allergies ibuprofen nsaids non s...
6       urology allergies no known allergies adverse ...
7       neurology allergies no known allergies advers...
                             ...
545     medicine allergies penicillins lactose attend...
546     medicine allergies gadolinium containing cont...
547     cardiothoracic allergies oysters attending _ ...
548     neurology allergies trospium attending _ chie...
549     surgery allergies penicillins attending _ chi...
Name: text, Length: 13522, dtype: object

In [163]:
test_texts = test_df['text'].apply(proc_text)

In [164]:
test_texts

3       orthopaedics allergies oxycodone attending _ ...
4       medicine allergies univasc shellfish mold yea...
5       medicine allergies percocet attending _ chief...
10      plastic allergies morphine attending _ chief ...
19      medicine allergies no known allergies adverse...
                             ...
517     medicine allergies _ attending _ chief compla...
518     medicine allergies flagyl asacol cortifoam sh...
533     medicine allergies no known allergies adverse...
536     medicine allergies no known allergies adverse...
537     medicine allergies morphine attending _ chief...
Name: text, Length: 3300, dtype: object

In [165]:
train_text_path = ''.join([data_dir, 'data/SdohICD10/', 'train_texts.txt'])
with open(train_text_path, 'w') as file:
    for text in train_texts:
        file.write(text + '\n')

In [166]:
test_text_path = ''.join([data_dir, 'data/SdohICD10/', 'test_texts.txt'])
with open(test_text_path, 'w') as file:
    for text in test_texts:
        file.write(text + '\n')

In [ ]:
train_df.to_csv(''.join([data_dir, ]))